* {
    box-sizing: border-box;
}
:root {
    --color-white: #f3f3f3;
    --color-maroon: #b53471;
    --color-maroon-alpha: #7f244f;
    --color-green: #37af65;
  }

  body {
    background-color: #05c46b;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
    background-color: #b53471;
  }
  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  
  h1,
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  